/* body{
    /* background-image: url("../../public/expense-tracker-img.webp");
    background-repeat: no-repeat; /* Prevent the image from repeating */
  /* background-size: cover; /* Scale the image to cover the entire element */
  /* background-position: center; */ 
  /* background-color : #34495e  ; */
   /* background: hsla(242, 58%, 73%, 1);

background: linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9491E2", endColorstr="#AFF2D8", GradientType=1 );



}  */
/* .filters1,.filters2{
  background: hsla(242, 58%, 73%, 1);

  background: linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9491E2", endColorstr="#AFF2D8", GradientType=1 );
  
} */
 body{
  background-image: url('../../public/finance-tracker.jpg'); /* Path to the image */
    background-size: cover; /* Ensures the image covers the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; 
     background-attachment: fixed;
    
 }
 .switch-icons .active-icon{
  color: white; /* Blue for active */
  font-size: 24px;
  transition: all 0.3s ease;
  
 }
 .editdelete .delete{
  color:red;
  
 }
 .editdelete .edit{
  color:brown;
 }

